/* slider */
.slider-wrapper {
	overflow:hidden;
	width:984px;
	position:absolute;
	top:-16px;
	left:0;
	background:#fff;
	border-radius:0 18px 0 0;
	-moz-border-radius:0 18px 0 0;
	-webkit-border-radius:0 18px 0 0
}
.slider {
	height:403px;
	width:948px;
	margin:10px auto
}
.items {
	display:none
}



.prev {
	display:block;
	width:22px;
	height:37px;
	text-indent:-5000px;
	position:absolute;
	left:25px;
	top:183px;
	z-index:99;
	background:url(../images/slider-control.png) left top no-repeat
}
.prev:hover {
	background-position:left bottom
}
.next {
	display:block;
	width:22px;
	height:37px;
	text-indent:-5000px;
	position:absolute;
	right:22px;
	top:183px;
	z-index:99;
	background:url(../images/slider-control.png) right top no-repeat
}
.next:hover {
	background-position:right bottom
}

